- function hasArrived(timing) {return +new Date() - +new Date(timing) > 0;}
- function getTimingsDifference(a, b) {let d = new Date(Math.abs(a - b));return {minutes: d.getUTCMinutes(),seconds: d.getUTCSeconds(),}};

if busTimings.length == 0
    div.noBuses
        span No bus services at this bus stop currently are in operation

for bus in busTimings
    - let {timings} = bus;

    div.busService
        a(href=`/bus/${services[bus.service][0].fullService}` class='busServiceNumber ' + services[bus.service][0].operator.toLowerCase())
            span=services[bus.service][0].serviceNumber
            if services[bus.service][0].variant
                span=services[bus.service][0].variant
        a.destination(href=`/timings/${destinations[bus.destination].busStopCode}`)
            span Towards
            span=destinations[bus.destination].busStopName
        div.timings
            for arrival in timings
                - let ttl = getTimingsDifference(new Date(), new Date(arrival.arrivalTime))
                div(class='bus-arrival load-' + (arrival.load * 1 + 1) arrival=arrival.arrivalTime)
                    span(class=hasArrived(arrival.arrivalTime) ? 'bus-arr' : '')=hasArrived(arrival.arrivalTime) ? 'Arr' : ttl.minutes
                    span=hasArrived(arrival.arrivalTime) ? '' : ttl.seconds
                    span=['', 'SD', 'DD', 'BD'][arrival.busType]
                    if arrival.isWAB
                        img(src='/static/images/wheelchair.svg' alt='Wheelchair Accessible')
                    else
                        img(src='/static/images/non-wheelchair.svg' alt='Non-Wheelchair Accessible')
