- function hasArrived(timing) {return +new Date() - +new Date(timing) > 0;}
- function getTimingsDifference(a, b) {let d = new Date(Math.abs(a - b));return {minutes: d.getUTCMinutes(),seconds: d.getUTCSeconds(),}};

if busTimings.length == 0
    span No buses now!

- busTimings = busTimings.sort((a, b) => a.service.number - b.service.number);

for bus in busTimings
    - let {timings} = bus;

    div.busService
        a(href=`/bus/${bus.service.fullService}` class='busServiceNumber ' + bus.service.operator.toLowerCase())
            span=bus.service.serviceNumber
            span=bus.service.variant
        a.destination(href=`/timings/${bus.destination.busStopCode}`)
            span Towards
            span=bus.destination.busStopName
        div.timings
            for arrival in timings
                - let ttl = getTimingsDifference(new Date(), new Date(arrival.arrivalTime))
                div(class='bus-arrival load-' + (arrival.load * 1 + 1))
                    span(class=hasArrived(arrival.arrivalTime) ? 'bus-arr' : '')=hasArrived(arrival.arrivalTime) ? 'Arr' : ttl.minutes
                    span=hasArrived(arrival.arrivalTime) ? '' : ttl.seconds
                    span=['', 'SD', 'DD', 'BD'][arrival.busType]
                    img(src='/static/images/' + (arrival.isWAB ? '' : 'non-') + 'wheelchair.svg')
