//-future idea - show current freq on right

for service in busServices
    a(href=`/bus/${service.fullService}`).busService.result
        div(class='leftContainer ' + service.operator.toLowerCase())
            span.serviceNumber=service.serviceNumber
            span.serviceVariant=service.variant
        div.result-details
            span=service.routeType.slice(0, 1) + service.routeType.slice(1).toLowerCase() + ' Service ' + service.fullService
            span=service.interchangeNames[0] + ' - ' + service.interchangeNames[1]

for busStop in busStops
    a(href=`/timings/${busStop.busStopCode}`).busStop.result
        div.leftContainer
            img(src='/static/images/bus-stop.svg')
        div.result-details
            span=busStop.roadName
            span=busStop.busStopCode + ' ' + busStop.busStopName
